# Latex
*.aux
*.bbl
*.blg
*.out
*.log
*.synctex.gz
*.fls
*.fdb_latexmk

# PDM
.pdm.toml
pdm.lock

# Various
.DS_Store
.vscode
__pycache__
*.egg-info
*.pyg
*.spl
.*venv

# Content
manuscript/
submissions/
publication.pdf